*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/franck-v-jIBMSMs4_kA-unsplash.jpg);
	height: 50%!important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.loginbg{
	width: 130px;
	height: 150px;
	border-radius: 50%;
}

.loginback
{
	background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/texture-2150588_960_720.jpg);
	height: 50%!important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.regbg12
{
	background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/background-modern-computer-design.jpg);
	height: 50%!important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.dupbg
{
	background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/background-modern-computer-design.jpg);
	height: 50%!important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.indexback{
width: 350px;
height: 400px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/bg11.jpg);

}