*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/bg14.jpg);
	height: 100%!important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

